*{
    box-sizing: border-box;
}
body{
     font-family: 'Roboto', sans-serif;
     font-weight: 400;
     font-size: 16px;
     line-height: 26px;
}
.contener{
    width: 1110px;
    margin: 0 auto;
}
.header{
    background: #EEEFF1;
    padding-top: 74px;
    padding-bottom: 146px;
}
.link{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #000000;
    text-decoration: none;
}
.link.activ{
    color: #34547A;
    font-weight: 500;
}
.item{
    display: inline-block;
    vertical-align: top;
    margin-right: 42px;
}
.nav{
    margin-bottom: 140px;
}
.title{
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    color: #000000;
    margin-bottom: 37px;
}
.description{
    color: #727272;
    width: 540px;
    margin-bottom: 55px;
}
.description.center{
    margin: 0 auto;
    text-align: center;
}
.button{
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    background-color: #34547A;
    padding: 19px 41px 20px 41px;
    font-size: 16px;
    line-height: 26px;
    border: none;
    cursor: pointer;
}
.about{
    padding: 116px 0 95px 0;
}
.sub{
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
    margin-bottom: 40px;
}
.cards{
    background-color: #34547A;
    padding: 100px 0;
}
.icon{
    display: inline-block;
    vertical-align: top;
}
.card-text{
    display: inline-block;
    vertical-align: top;
    color: #FFFFFF;
    padding-top: 3px;
    margin-left: 20px;
}
.card-title{
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 7px;
}
.card-description{
    line-height: 16px;
}
.card{
    display: inline-block;
    vertical-align: top;
    margin-right: 45px;
}
.card:last-child{
    margin-right: 0;
}
.video{
    padding: 95px 0 100px 0;
    background-color: #EEEFF1;
}
.youtube{
    width: 1110px;
    height: 600px;
}
.description.margin{
    margin-bottom: 52px;
}
.footer{
    padding: 47px 0 46px 0;
    background-color: #34547A;
    color: #FFFFFF;
}
.name{
    font-size: 21px;
    line-height: 25px;
    font-weight: 500px;
    margin-bottom: 12px;
}
.copy{
    font-size: 13px;
    line-height: 21px;
}